@import "tailwindcss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

@keyframes rotate-90 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

@keyframes -rotate-90 {
  0% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(-90deg);
  }
}

@keyframes hiddenMenu {
  0% {
    width: 0px;
    padding-left: 0;
    padding-right: 0;
    opacity: 0;
  }
  100% {
    width: auto;
    padding-left: 80px;
    padding-right: 120px;
  }
}

@keyframes -hiddenMenu {
  0% {
      width: 100%;
      padding-left: 80px;
      padding-right: 120px;
      opacity: 1;
      visibility: visible;
    }
  
    100% {
      position: relative;
      z-index: -1;
      width: 0;
      padding-left: 0;
      padding-right: 0;
      opacity: 0;
      visibility: hidden;
    }
    
}



@keyframes hiddenText {
  0% {
    opacity: 0;
    position: absolute;
    z-index: 1;
  }

  50% {
    opacity: 0;
    position: relative;
    z-index: 1;
  }

  75% {
    opacity: 0.5;
    position: relative;
    z-index: 1;
  }

  100% {
    opacity: 1;
    position: relative;
    z-index: 1;
  }
}

@layer utilities {
  .vertical {
    writing-mode: sideways-lr;
    text-orientation: mixed;
  }

  .horizontal {
    writing-mode: horizontal-tb;
    text-orientation: mixed;
  }

  .animation-rotate-90 {
    animation: rotate-90 0.4s ease forwards;
  }

  .animation-reverse-rotate-90 {
    animation: -rotate-90 0.4s ease forwards;
  }
  .animation-menu {
    animation: hiddenMenu 2s ease forwards;
  }

  .animation-reverse-menu {
    animation: -hiddenMenu 2s ease forwards;
  }

  .animation-text {
    animation: hiddenText 1s ease forwards;
  }

}


@theme {
  --font-DMSans: 'DM Sans', sans-serif;
  --font-Inter: 'Inter', sans-serif;
  --font-Lexend: 'Lexend', sans-serif;
  --radius-full: 100%;
  --color-primary-indigo: oklch(34.48% 0.182277 301.7673);
  --color-secondary-purple-heart: oklch(59.99% 0.2412 293.08);
  --color-secondary-spring-green: oklch(92.97% 0.1823 129.21);
  --color-grey-scale-off-white: oklch(99.01% 0.0034 247.86);
  --color-grey-scale-french-gray: oklch(83.59% 0 0);
  --color-grey-scale-dim-gray: oklch(59.99% 0 0);
  --color-grey-scale-onyx: oklch(32.72% 0.0067 248.03);
  --color-gray-scale-text: oklch(94.27% 0.0271 267.53);
  --color-grey-scale-eerie-black: oklch(20.71% 0.0076 248.19);
  --color-grey-scale-stroke-for-white: oklch(82.97% 0 0);
  --color-purple-scale-stroke: oklch(38.32% 0.0654 274.94);
  --color-ui-colors-background: oklch(11.43% 0.0551 262.53);
  --color-ui-colors-footer-background: oklch(14.75% 0.0083 247.26);
  --color-spring-green-50: oklch(97.74% 0.054 126.59);
  --color-spring-green-100: oklch(97.11% 0.0703 126.66);
  --color-spring-green-200: oklch(95.96% 0.1 127.41);
  --color-spring-green-300: oklch(94.87% 0.1297 127.91);
  --color-spring-green-400: oklch(93.88% 0.1566 128.59);
  --color-spring-green-500: oklch(92.97% 0.1823 129.21);
  --color-spring-green-600: oklch(81.5% 0.1581 129.19);
  --color-spring-green-700: oklch(69.62% 0.1329 129.17);
  --color-spring-green-800: oklch(57.44% 0.109 129.27);
  --color-spring-green-900: oklch(44.31% 0.0809 129.29);
  --color-purple-heart-50: oklch(88.29% 0.067351 300.2564);
  --color-purple-heart-100: oklch(84.92% 0.0878 300.05);
  --color-purple-heart-200: oklch(78.18% 0.1288 298.72);
  --color-purple-heart-300: oklch(71.71% 0.1696 297.6);
  --color-purple-heart-400: oklch(65.63% 0.2068 295.39);
  --color-purple-heart-500: oklch(59.99% 0.2412 293.08);
  --color-purple-heart-600: oklch(52.92% 0.2095 293.44);
  --color-purple-heart-700: oklch(45.5% 0.1764 293.45);
  --color-purple-heart-800: oklch(37.98% 0.1429 293.81);
  --color-purple-heart-900: oklch(29.87% 0.1057 293.89);
  --color-indigo-50: oklch(81.21% 0.056 310.52);
  --color-indigo-100: oklch(75.61% 0.074 310.93);
  --color-indigo-200: oklch(64.49% 0.1104 309.77);
  --color-indigo-300: oklch(53.64% 0.1441 309.02);
  --color-indigo-400: oklch(43.15% 0.1741 306.45);
  --color-indigo-500: oklch(34.48% 0.182277 301.7673);
  --color-indigo-600: oklch(30.63% 0.1613 302.43);
  --color-indigo-700: oklch(26.39% 0.1385 303.06);
  --color-indigo-800: oklch(22.24% 0.1159 304.36);
  --color-indigo-900: oklch(17.9% 0.0922 306.51);
}