@import "tailwindcss";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
  font-family: var(--DMSans), sans-serif
}
img {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}